!!!
%html.no-js{lang: "ru-RU"}
  %head
    %title Demo / Sneyk
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render
    :css
      .demo {margin-left: 6rem;}
      .demo li:not(:last-child) {margin-bottom: 1rem;}
      .demo ol {counter-reset: list;}
      .demo ol li {position: relative;}
      .demo ol li::before {
        counter-increment: list;
        content: counter(list) ".";
        position: absolute;
        top: 0;
        right: 100%;
        margin-right: .5rem;
        color: #ccc;
      }
  
  %body#page.page
    %main#main.main{role: "main"}
      %section{role: "region", "aria-label" => "Demo"}
        .ctn.p-t_8.p-b_8
          %article
            %header.m-b_4
              %h2
                %a{href: "/"} Sneyk

            %nav.demo
              %ol
                
                %li
                  %a{href: "/ui.html"} UI
                %li.m-b_2
                  %a{href: "/layouts.html"} Layouts

                
                %li
                  %a{href: "/index.html"} Главная
                %li
                  %a{href: "/catalog.html"} Каталог
                %li
                  %a{href: "/catalog_brand.html"} Бренд
                %li
                  %a{href: "/catalog_show.html"} Карточка товара
                %li
                  %a{href: "/basket.html"} Корзина
                %li
                  %a{href: "/basket_checkout.html"} Оформление заказа
                %li
                  %a{href: "/profile.html"} Личный кабинет
                %li
                  %a{href: "/content.html"} Контент