%footer#footer.footer{role: "contentinfo"}
  .banners.__bottom
    .ctn
      .grid
        .grid-i.__grid-4>
          %a{href: "/content.html"}
            %img.va-t{src: "/assets/images/banner-1.png", width: "100%", alt: ""}
        .grid-i.__grid-4>
          %a{href: "/content.html"}
            %img.va-t{src: "/assets/images/banner-2.png", width: "100%", alt: ""}
        .grid-i.__grid-4>
          %a{href: "/content.html"}
            %img.va-t{src: "/assets/images/banner-3.png", width: "100%", alt: ""}
  = Haml::Engine.new(File.read('views/layouts/_footer_navs.haml')).render
  = Haml::Engine.new(File.read('views/layouts/_footer_summary.haml')).render