.footer_summary
  .ctn
    %table
      %tr
        %td
          %a{href: "/"}
            %img.va-t{src: "/assets/images/logo.png", width: 182, height: 36, alt: "the Sneyk"}
        %td
          %p.tx.__upper Магазин спортивных товаров
          %p.tx.__upper 2014&nbsp;&copy; все права защищены
        %td
          %p.tx.__upper 
            %a{href: "/content.html"} О магазине
          %p.tx.__upper 
            %a{href: "/content.html"} Гарантия
        %td
          %p.tx.__upper 
            %a{href: "/content.html"} Доставка и оплата
          %p.tx.__upper 
            %a{href: "/content.html"} Вопросы и ответы
        %td
          %p.tx.__upper 
            %a{href: "/content.html"} Контакты
        %td.tx.__right
          %p.footer_summary_phone
            8 800 
            %b 987-65-43
          %p 
            %a{href: "mailto: info@thesheyk.ru"} info@thesheyk.ru