%footer#footer.footer{role: "contentinfo"}
  .ctn
    .c-f
      .f-l
        .footer_logo>
          %a{href: "/"}
            %img.va-t{src: "/assets/images/logo.png", width: 182, height: 36, alt: "the Sneyk"}
        .footer_copyright>
          %p.tx.__upper Магазин спортивных товаров
          %p.tx.__upper 2014&nbsp;&copy; все права защищены
        .footer_links>
          %p.tx.__upper 
            %a{href: "/content.html"} О магазине
          %p.tx.__upper 
            %a{href: "/content.html"} Гарантия
        .footer_links>
          %p.tx.__upper 
            %a{href: "/content.html"} Доставка и оплата
          %p.tx.__upper 
            %a{href: "/content.html"} Вопросы и ответы
        .footer_links>
          %p.tx.__upper 
            %a{href: "/content.html"} Контакты
      .f-r
        .tx.__right
          %p.footer_phone
            8 800 
            %b 987-65-43
          %p 
            %a{href: "mailto: info@thesheyk.ru"} info@thesheyk.ru