.footer_navs
  .ctn
    / back in 1990 =)
    %table
      %tr
        %td
          %h3.footer_navs_t
            %a{href: "/catalog.html"} Cпортивное питаниe
          %ul
            %li
              %a{href: "/catalog.html"} Активаторы роста
            %li
              %a{href: "/catalog.html"} Активное долголетие
            %li
              %a{href: "/catalog.html"} Аминокислоты
            %li
              %a{href: "/catalog.html"} Бустеры тестостерона
            %li
              %a{href: "/catalog.html"} Витамины и минералы
            %li
              %a{href: "/catalog.html"} Гейнеры
            %li
              %a{href: "/catalog.html"} Готовые комплексы
            %li
              %a{href: "/catalog.html"} Для суставов и связок
            %li
              %a{href: "/catalog.html"} Креатин
            %li
              %a{href: "/catalog.html"} После тренировки
            %li
              %a{href: "/catalog.html"} Протеиновые батончики
            %li
              %a{href: "/catalog.html"} Протеины
        %td
          %h3.footer_navs_t
            %a{href: "/catalog.html"} Мужчинам
          %ul
            %li
              %a{href: "/catalog.html"} Джемперы и свитеры
            %li
              %a{href: "/catalog.html"} Футболки
            %li
              %a{href: "/catalog.html"} Брюки
            %li
              %a{href: "/catalog.html"} Спортивные костюмы
            %li
              %a{href: "/catalog.html"} Рубашки
            %li
              %a{href: "/catalog.html"} Поло
            %li
              %a{href: "/catalog.html"} Майки
            %li
              %a{href: "/catalog.html"} Шорты
            %li
              %a{href: "/catalog.html"} Плавки
            %li
              %a{href: "/catalog.html"} Куртки 
            %li
              %a{href: "/catalog.html"} Жилеты
            %li
              %a{href: "/catalog.html"} Термобельё 
            %li
              %a{href: "/catalog.html"} Головные уборы   
        %td
          %h3.footer_navs_t
            %a{href: "/catalog.html"} Женищинам
          %ul
            %li
              %a{href: "/catalog.html"} Джемперы и свитеры
            %li
              %a{href: "/catalog.html"} Футболки 
            %li
              %a{href: "/catalog.html"} Брюки
            %li
              %a{href: "/catalog.html"} Спортивные костюмы
            %li
              %a{href: "/catalog.html"} Поло
            %li
              %a{href: "/catalog.html"} Майки
            %li
              %a{href: "/catalog.html"} Шорты
            %li
              %a{href: "/catalog.html"} Плавки
            %li
              %a{href: "/catalog.html"} Куртки 
            %li
              %a{href: "/catalog.html"} Жилеты
            %li
              %a{href: "/catalog.html"} Термобельё 
            %li
              %a{href: "/catalog.html"} Головные уборы 
        %td
          %h3.footer_navs_t
            %a{href: "/catalog.html"} Активный отдых
          %ul
            %li 
              %a{href: "/catalog.html"} Туристическое  снаряжение
            %li 
              %a{href: "/catalog.html"} Одежда для активного отдыха
            %li 
              %a{href: "/catalog.html"} Обувь для активного отдыха 
            %li 
              %a{href: "/catalog.html"} Отдых на природе
            %li 
              %a{href: "/catalog.html"} Отдых на воде
            %li 
              %a{href: "/catalog.html"} Игры для активного отдыха
            %li 
              %a{href: "/catalog.html"} Подводное плавание
            %li 
              %a{href: "/catalog.html"} Велоспорт
            %li 
              %a{href: "/catalog.html"} Ледовые коньки и хоккей
            %li 
              %a{href: "/catalog.html"} Беговые лыжи
            %li 
              %a{href: "/catalog.html"} Горные лыжи
            %li 
              %a{href: "/catalog.html"} Сноубординг 
            %li 
              %a{href: "/catalog.html"} Санки и снегокаты
            %li 
              %a{href: "/catalog.html"} Экшн-камеры 20
        %td
          %h3.footer_navs_t
            %a{href: "/catalog.html"} Аксессуары
          %ul
            %li 
              %a{href: "/catalog.html"} Активаторы роста
            %li
              %a{href: "/catalog.html"} Активное долголетие
            %li
              %a{href: "/catalog.html"} Аминокислоты
            %li
              %a{href: "/catalog.html"} Бустеры тестостерона
            %li
              %a{href: "/catalog.html"} Витамины и минералы
            %li
              %a{href: "/catalog.html"} Гейнеры
            %li
              %a{href: "/catalog.html"} Готовые комплексы
            %li
              %a{href: "/catalog.html"} Для суставов и связок
            %li
              %a{href: "/catalog.html"} Креатин
            %li
              %a{href: "/catalog.html"} После тренировки
            %li
              %a{href: "/catalog.html"} Протеиновые батончики
            %li
              %a{href: "/catalog.html"} Протеины
            %li
              %a{href: "/catalog.html"} Снижение веса
            %li
              %a{href: "/catalog.html"} Спортивные напитки
            %li
              %a{href: "/catalog.html"} Энергетики
            %li
              %a{href: "/catalog.html"} Заменители пищи