%meta{charset: "utf-8"}
%meta{name: "viewport", content: "width=device-width"}
%meta{name: "format-detection", content: "telephone=no"}
%meta{name: "description", content: ""}
%meta{name: "keywords", content: ""}

%link{rel: "author", href: "/humans.txt"}
%link{rel: "icon", href: "/favicon.ico"}
%link{rel: "apple-touch-icon", href: "/apple-touch-icon-precomposed.png"}
%link{rel: "apple-touch-icon", sizes: "57x57", href: "/apple-touch-icon-57x57-precomposed.png"}
%link{rel: "apple-touch-icon", sizes: "72x72", href: "/apple-touch-icon-72x72-precomposed.png"}
%link{rel: "apple-touch-icon", sizes: "114x114", href: "/apple-touch-icon-114x114-precomposed.png"}
%link{rel: "apple-touch-icon", sizes: "144x144", href: "/apple-touch-icon-144x144-precomposed.png"}
%link{rel: "stylesheet", href: "/assets/stylesheets/application.css"}

/ build:javascripts
%script{src: "/assets/javascripts/vendor/modernizr-latest.js"}
%script{src: "/assets/javascripts/vendor/yepnope.js"}
%script{src: "/assets/javascripts/vendor/jquery-2.1.0.js"}
%script{src: "/assets/javascripts/vendor/jquery-ui-1.10.4.js"}
%script{src: "/assets/javascripts/vendor/underscore.js"}
%script{src: "/assets/javascripts/vendor/backbone.js"}
%script{src: "/assets/javascripts/vendor/smartresize.js"}
%script{src: "/assets/javascripts/vendor/doublehover.js"}
%script{src: "/assets/javascripts/vendor/jquery.arcticmodal.js"}
%script{src: "/assets/javascripts/vendor/owl.carousel.js"}
%script{src: "/assets/javascripts/vendor/imagesloaded.pkgd.js"}
%script{src: "/assets/javascripts/vendor/masonry.pkgd.js"}
%script{src: "/assets/javascripts/vendor/accounting.js"}
%script{src: "/assets/javascripts/polyfill/polyfill.js"}
%script{src: "/assets/javascripts/config.js"}
%script{src: "/assets/javascripts/jquery.extensions.js"}
%script{src: "/assets/javascripts/forms.js"}
%script{src: "/assets/javascripts/components.js"}
%script{src: "/assets/javascripts/application.js"}
%script{src: "/assets/javascripts/project.js"}
/ endbuild