%nav#nav.nav{role: "navigation"}
  .ctn
    .grid
      .grid-i.__grid-9>
        %ul.menu.__left
          %li.menu_i>
            %a.menu_i_a.__current{href: "/catalog.html"} Спортивное питание
          %li.menu_i>
            %a.menu_i_a{href: "/catalog.html"} Мужчинам
          %li.menu_i>
            %a.menu_i_a{href: "/catalog.html"} Женщинам
          %li.menu_i>
            %a.menu_i_a{href: "/catalog.html"} Активный отдых
          %li.menu_i>
            %a.menu_i_a{href: "/catalog.html"} Аксессуары
      .grid-i.__grid-3>
        %ul.menu.__right
          %li.menu_i>
            %a.menu_i_a.__sale{href: "/catalog.html"} Распродажа
          %li.menu_i>
            %a.menu_i_a.__novelty{href: "/catalog.html"} Новинки