:plain
  <script type="text/template" id="card-product-flavor-item">
    <a href="#" class="card-product_value_i_a __flavor"><%= flavor %></a>
  </script>

  <script type="text/template" id="card-product-volume-item">
    <a href="#" class="card-product_value_i_a __volume"><%= volume %></a>
  </script>