%form.sidebar_filter

  %fieldset.sidebar_filter_i
    %legend.sidebar_filter_i_legend.m-b_3 Цена
    .price-range{data: {min: 5000, max: 35000}}
      .price-range_slider
      %span от
      %input.form-el.__tx.price-range_min{type: "text"}
      %span до
      %input.form-el.__tx.price-range_max{type: "text"}
      %i.fa.fa-ruble

  %fieldset.sidebar_filter_i
    %legend.sidebar_filter_i_legend Цвет
    %ul.sidebar_filter_colors
      %li.sidebar_filter_colors_i
        %a.sidebar_filter_colors_i_a{href: "#"} 
          %span{style: "background-color: #202e30;"}>
          Зеленый
      %li.sidebar_filter_colors_i
        %a.sidebar_filter_colors_i_a{href: "#"} 
          %span{style: "background-color: #23283b;"}>
          Темно синий
      %li.sidebar_filter_colors_i
        %a.sidebar_filter_colors_i_a{href: "#"} 
          %span{style: "background-color: #e6441d;"}>
          Оранжевый
      %li.sidebar_filter_colors_i
        %a.sidebar_filter_colors_i_a{href: "#"} 
          %span{style: "background-color: #ee3d3e;"}>
          Красный
      %li.sidebar_filter_colors_i
        %a.sidebar_filter_colors_i_a{href: "#"} 
          %span{style: "background-color: #ebd800;"}>
          Желтый

  %fieldset.sidebar_filter_i
    %legend.sidebar_filter_i_legend Бренд
    %ul.sidebar_filter_brands
      %li.sidebar_filter_brands_i
        %a.sidebar_filter_brands_i_a{href: "#"} Performance
      %li.sidebar_filter_brands_i
        %a.sidebar_filter_brands_i_a{href: "#"} Pink protein
      %li.sidebar_filter_brands_i
        %a.sidebar_filter_brands_i_a{href: "#"} Powerbar
      %li.sidebar_filter_brands_i
        %a.sidebar_filter_brands_i_a{href: "#"} Power system
      %li.sidebar_filter_brands_i
        %a.sidebar_filter_brands_i_a{href: "#"} Prolab
      %li.sidebar_filter_brands_i
        %a.sidebar_filter_brands_i_a.__current{href: "#"} Promera sports
      %li.sidebar_filter_brands_i
        %a.sidebar_filter_brands_i_a{href: "#"} Pvl
      %li.sidebar_filter_brands_i
        %a.sidebar_filter_brands_i_a{href: "#"} San
      %li.sidebar_filter_brands_i
        %a.sidebar_filter_brands_i_a{href: "#"} Scivation
      %li.sidebar_filter_brands_i
        %a.sidebar_filter_brands_i_a{href: "#"} Smartshake
      %li.sidebar_filter_brands_i
        %a.sidebar_filter_brands_i_a{href: "#"} Sts
      %li.sidebar_filter_brands_i
        %a.sidebar_filter_brands_i_a{href: "#"} Supreme Protein
      %li.sidebar_filter_brands_i
        %a.sidebar_filter_brands_i_a{href: "#"} Syntrax
      %li.sidebar_filter_brands_i
        %a.sidebar_filter_brands_i_a{href: "#"} Twinlab