%nav.sidebar_nav
  %h1.sidebar_nav_t Adidas
  %ul.sidebar_menu
    %li.sidebar_menu_i
      %a.sidebar_menu_i_a{href: "/catalog.html"} Джемперы и свитеры
    %li.sidebar_menu_i
      %a.sidebar_menu_i_a{href: "/catalog.html"} Брюки
    %li.sidebar_menu_i
      %a.sidebar_menu_i_a{href: "/catalog.html"} Футболки
    %li.sidebar_menu_i
      %a.sidebar_menu_i_a{href: "/catalog.html"} Спортивные костюмы
    %li.sidebar_menu_i
      %a.sidebar_menu_i_a{href: "/catalog.html"} Рубашки
    %li.sidebar_menu_i
      %a.sidebar_menu_i_a{href: "/catalog.html"} Поло
    %li.sidebar_menu_i
      %a.sidebar_menu_i_a{href: "/catalog.html"} Майки
    %li.sidebar_menu_i
      %a.sidebar_menu_i_a{href: "/catalog.html"} Шорты
    %li.sidebar_menu_i
      %a.sidebar_menu_i_a{href: "/catalog.html"} Плавки
    %li.sidebar_menu_i
      %a.sidebar_menu_i_a.__current{href: "/catalog.html"} Теплые Куртки 
    %li.sidebar_menu_i
      %a.sidebar_menu_i_a{href: "/catalog.html"} Куртки 
    %li.sidebar_menu_i
      %a.sidebar_menu_i_a{href: "/catalog.html"} Жилеты
    %li.sidebar_menu_i
      %a.sidebar_menu_i_a{href: "/catalog.html"} Термобельё 
    %li.sidebar_menu_i
      %a.sidebar_menu_i_a{href: "/catalog.html"} Головные уборы