//****************************************************************************************************
//
// .. FONTS
//
//****************************************************************************************************
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic);



//****************************************************************************************************
//
// .. MEDIA QUERY
//
//****************************************************************************************************
$mq-phone-min-width:   320px;
$mq-phone-max-width:   640px;
$mq-tablet-min-width:  641px;
$mq-tablet-max-width:  940px;
$mq-desktop-min-width: 941px;
$mq-desktop-max-width: 1180px;



//****************************************************************************************************
//
// .. CONTAINER
//
//****************************************************************************************************
$ctn-padding: 20px;



//****************************************************************************************************
//
// .. GRID
//
//****************************************************************************************************
$grid: fixed; // .. fixed / fluid / responsive
$grid-width-transition: false; // .. true / false

//
// .. Fixed
//
$grid-fixed-col-qty:    12;
$grid-fixed-col-width:  65px;
$grid-fixed-col-gutter: 18px;
$grid-fixed-col-indent: 20px;

//
// .. Fluid
//
$grid-fluid-col-qty:    12;
$grid-fluid-col-gutter: 2%;
$grid-fluid-col-indent: 2rem; // .. rem / px

//
// .. Responsive
//
$grid-responsive-col-qty:    12;
$grid-responsive-col-gutter: 2%;
$grid-responsive-col-indent: 2rem; // .. rem / px



//****************************************************************************************************
//
// .. STYLES
//
//****************************************************************************************************
//
// .. Html
//
$root-font-size-list: (62.5%, 57.5%, 52.5%); // .. desktop / tablet / phone

//
// .. Body
//
$base-bg: #f1f1f1;
$base-color: #29282c;
$base-font-family: "PT Sans Narrow", Helvetica, Arial, sans-serif;
$base-font-size-list: (1.6rem, 1.6rem, 1.6rem);
$base-font-weight: 400;
$base-line-height-list: (2.4rem, 2.4rem, 2.4rem);

//
// .. Headings
//
$h-font-family: $base-font-family;

$h1-font-size-list: (4.8rem, 4.8rem, 4.8rem);
$h2-font-size-list: (2.4rem, 2.4rem, 2.4rem);
$h3-font-size-list: (1.8rem, 1.8rem, 1.8rem);
$h4-font-size-list: (2rem, 2rem, 2rem);
$h5-font-size-list: (inherit, inherit, inherit);
$h6-font-size-list: (inherit, inherit, inherit);

$h1-font-weight-list: (700, 700, 700);
$h2-font-weight-list: (700, 700, 700);
$h3-font-weight-list: (700, 700, 700);
$h4-font-weight-list: (700, 700, 700);
$h5-font-weight-list: (700, 700, 700);
$h6-font-weight-list: (inherit, inherit, inherit);

$h1-line-height-list: (2.4rem, 2.4rem, 2.4rem);
$h2-line-height-list: (2.4rem, 2.4rem, 2.4rem);
$h3-line-height-list: (2.4rem, 2.4rem, 2.4rem);
$h4-line-height-list: (2.4rem, 2.4rem, 2.4rem);
$h5-line-height-list: (inherit, inherit, inherit);
$h6-line-height-list: (inherit, inherit, inherit);

//
// .. Colors
//
$major-color: #ee3d3e;
$minor-color: #279f30;
$voice-color: rgba(0, 0, 0, .5);
$muted-color: #f1f1f1;
$border-color: #e9e9e9;

//
// .. Focus
//
$focus: false; // .. true / false

//
// .. Links
//
$link-color: $base-color;
$link-color-hover: $base-color;
$link-color-active: $base-color;
$link-style: nn;        // .. nn / uu / un / nu
$link-style-pseudo: uu; // .. nn / uu / un

//
// .. Content styles
//
$content-factor: 2;
$content-link: false; // .. true / false
$content-link-color: #0000cd;
$content-link-color-hover: #ccc;
$content-link-color-active: darken($content-link-color-hover, 10%);

//
// .. Text
//
$tx-xxs-font-size:   70%;
$tx-xxs-line-height: 160%;

$tx-xs-font-size:    80%;
$tx-xs-line-height:  160%;

$tx-s-font-size:     90%;
$tx-s-line-height:   inherit;

$tx-m-font-size:     100%;
$tx-m-line-height:   inherit;

$tx-l-font-size:     110%;
$tx-l-line-height:   inherit;

$tx-xl-font-size:    120%;
$tx-xl-line-height:  160%;

$tx-xxl-font-size:   130%;
$tx-xxl-line-height: 160%;



//****************************************************************************************************
//
// .. COMPONENTS
//
//****************************************************************************************************
$components: true; // .. true / false