button, input, select, textarea {
  -webkit-border-radius: 0;
            font-family: inherit;
     -webkit-appearance: none;
  @if $focus == true {
    &:focus {@extend %focus-style;}
  }
}

button, input {
  &::moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

input {
  &::-ms-clear {display: none;}
  &[type="search"]::-webkit-search-cancel-button,
  &[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
}



//****************************************************************************************************
//
// .. ELEMENTS
//
//****************************************************************************************************
.form-el {
  @include prefixes(box-sizing, border-box);

  &.__real {cursor: pointer;}
  
  @if $focus == true {
    &.__focus {@extend %focus-style;}
  }

  //
  // .. Label
  //
  &.__label {
    position: relative;
    .form-el.__checkbox,
    .form-el.__radio {
      &.__fake {
        position: absolute;
        top: .2rem;
        left: 0;
      }
    }
    span:last-child {
      display: inline-block;
      margin-left: 2.1rem;
    }
  }

  //
  // .. Legend
  //
  &.__legend {@extend .delta;}
  
  //
  // .. Text
  //
  &.__tx {
    padding: 0 .75rem;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: .3rem;
    background: #fff;
    font-size: inherit;
    line-height: 2.8rem;
  }

  //
  // .. Textarea
  //
  &.__textarea {
    padding: .5rem .75rem;
    border: 1px solid #ccc;
    border-radius: .3rem;
    background: #fff;
    font-size: inherit;
  }

  //
  // .. Button
  //
  &.__btn {
    padding: 0 3rem;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: .3rem;
    text-align: center;
    text-decoration: none;
    font-size: inherit;
    line-height: 2.8rem;
    cursor: pointer;
    @include prefixes(transition, none);
    @include linear-gradient(vertical, #eee, #ddd);
    &:not([disabled]):hover {box-shadow: inset 0 0 .3em rgba(0,0,0,.1);}
    &:not([disabled]):active {@include linear-gradient(vertical, #ddd, #eee);}
  }

  //
  // .. Checkbox
  //
  &.__checkbox.__fake {
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid #ccc;
    border-radius: .3rem;
    background: #fff;
    &[data-checked="true"]::after {
      line-height: 1.4rem;
      content:"\f00c";
      text-align: center;
      font: {
        size: 1.2rem;
        family: FontAwesome;
      }
    }
  }

  //
  // .. Radio
  //
  &.__radio.__fake {
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid #ccc;
    border-radius: 50%;
    background: #fff;
    &[data-checked="true"] {
      &::after {
        line-height: 1.4rem;
        content: "\f111";
        text-align: center;
        font: {
          size: .8rem;
          family: FontAwesome;
        }
      }
    }
  }

  //
  // .. File
  //
  &.__file.__fake {
    padding: 0 .75rem;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: .3rem;
    background: #fff;
    line-height: 2.8rem;
    cursor: pointer;
    &::after {
      right: .75rem;
      color: #ccc;
      content: "\f07c";
      font: {
        size: 1.4rem;
        family: FontAwesome;
      }
    }
    > p {margin-right: 2.4rem;}
  }

  //
  // .. Select
  //
  &.__select.__fake {
    padding: 0 .75rem;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: .3rem;
    background: #fff;
    line-height: 2.8rem;
    &::after {
      right: 1rem;
      color: #ccc;
      content: "\f0d7";
      font: {
        size: 1.4rem;
        family: FontAwesome;
      }
    }
    > p {margin-right: 2.2rem;}
  }
    
  //
  // .. Disabled
  //
  &[disabled] {
    background: #eee !important;
    opacity: .5;
    cursor: no-drop !important;
  }

  //
  // .. Reqiured
  //
  &[data-required="before"]::before,
  &[data-required="after"]::after {
    color: #f90;
    content: "\f069";
    font: {
      size: 1rem;
      family: FontAwesome;
    }
    line-height: 1;
  }
  &[data-required="before"]::before {margin-left: -1.5rem;}
  &[data-required="after"]::after {margin-left: .5rem;}

  //
  // .. Validation
  //
  &[data-valid="true"],
  &[data-valid="false"] {
    &::after {
      border-color: inherit !important;
      color: inherit !important;
    }
  }

  &[data-valid="true"] {
    border-color: fade-out(green, .3) !important;
    background: fade-out(green, .9) !important;
    color: fade-out(green, .3) !important;
  }

  &[data-valid="false"] {
    border-color: fade-out(red, .3) !important;
    background: fade-out(red, .9) !important;
    color: fade-out(red, .3) !important;
  }

}