@if $grid == "responsive" {
  @include media-query(tablet) {body {padding-top: 0 !important;}}
  @include media-query(phone)  {body {padding-top: 0 !important;}}
}


//****************************************************************************************************
//
// .. BAR
//
//****************************************************************************************************



//****************************************************************************************************
//
// .. HEADER
//
//****************************************************************************************************
.header {
  background-color: #212122;
  color: #f1f1f1;
  @include media-query(desktop) {
    &.__sticky {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1000;
      background: $base-bg;
      box-shadow: .1em .1em .3em rgba(0,0,0,.25);
    }
  }
}

  //
  // .. Bar
  //
  .header_bar {
    padding: .5rem 0;
    border-bottom: .1rem solid #2c2c2d;
  }

  //
  // .. Phone
  //
  .header_phone {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2.5rem;
  }

  //
  // .. Sosial navigation
  //
  .header_social {
    display: inline-block;
    vertical-align: middle;
  }
    .header_social_i {
      display: inline-block;
      margin-left: .5rem;
    }
      .header_social_i_a {
        color: inherit;
        &:hover {color: inherit;}
      }

  
  //
  // .. Menu
  //
  .header_menu {
    &.__left {
      text-align: left;
      .header_menu_i {margin-right: 1rem;}
    }
    &.__right {
      text-align: right;
      .header_menu_i {margin-left: 1rem;}
    }
  }
    .header_menu_i {
      display: inline-block;
    }
      .header_menu_i_a {
        color: inherit;
        text-transform: uppercase;
        @extend .tx.__s;
        &:hover {color: inherit;}
        .fa {
          margin-right: .5rem;
          font-size: 1.8rem;
        }
      }

  //
  // .. Go to basket
  //
  .header_basket {
    text-align: right;
    text-transform: uppercase;
    @extend .tx.__l;
    .ico {margin-right: 1rem;}
    a {
      display: inline-block;
      border-bottom: .2rem solid #8f5cb1;
      color: inherit;
    }
  }



//****************************************************************************************************
//
// .. NAVIGATION
//
//****************************************************************************************************
.nav {
  height: 6.2rem;
  border-bottom: 1px solid #dfdfdf;
  background-color: #fff;
}

.menu {
  &.__left {
    text-align: left;
    .menu_i {margin-right: 1.8rem;}
  }
  &.__right {
    text-align: right;
    .menu_i {margin-left: 1.8rem;}
  }
}
  .menu_i {
    display: inline-block;
  }
    .menu_i_a {
      display: block;
      text-transform: uppercase;
      font-weight: 700;
      line-height: 6rem;
      @extend .tx.__l;
      &.__current, &:hover {border-bottom: .2rem solid $base-color;}
      &.__sale {
        border-color: $major-color;
        color: $major-color;
      }
      &.__novelty {
        border-color: $minor-color;
        color: $minor-color;
      }
    }



//****************************************************************************************************
//
// .. SECTION
//
//****************************************************************************************************
.section {

}
  .section_inner {
    background-color: #fff;
    box-shadow: 0 .1rem .1rem .1rem rgba(0, 0, 0, .1);
  }



//****************************************************************************************************
//
// .. PRODUCTS
//
//****************************************************************************************************
.products {
  &:not(:last-child) {margin-bottom: 3rem;}
}

.product {
  position: relative;
  padding-bottom: 3rem;
  text-align: center;
  @include prefixes(box-sizing, border-box);
  
  .owl-item & {
    .grid-i {margin-right: 0;}
  }

  .owl-item:not(:last-child) &, .grid-i:not(:last-child) & {border-right: 1px solid $border-color;}
}
  .product_h {
    margin-bottom: 2rem;
  }
    .product_labels {
      position: absolute;
      top: 2rem;
      right: 2rem;
      text-align: left;
    }
      //
      // .. Labels
      // 
      .product_label {
        &:not(:last-child) {margin-bottom: .5rem;}
        span {
          display: inline-block;
          padding: 0 1.5rem;
          height: 2rem;
          color: #fff;
          vertical-align: top;
          text-transform: uppercase;
          line-height: 2rem;
          font-size: 1.2rem;
        }
        &.__sale {
          span {background-color: $major-color;}
        }
        &.__novelty {
          span {background-color: $minor-color;}
        }
      }
      //
      // .. Colors
      //
      .product_colors {
        position: absolute;
        top: 11.6rem;
        left: 50%;
        line-height: 1.6rem;
        @include prefixes(transform, translateX(-50%));
      }
        .product_colors_i {
          display: inline-block;
          width: 1.6rem;
          height: 1.6rem;
          border: 1px solid #fff;
          border-radius: .1rem;
          vertical-align: top;
          &:not(:last-child) {margin-right: 1rem;}
        } 
  .product_f {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: $major-color;
    font-weight: 700;
    @extend .tx.__l;
  }



//****************************************************************************************************
//
// .. CAROUSEL
//
//****************************************************************************************************
.carousel {

}
  
.carousel-nav {
  text-align: right;
  &.__edge {
    .carousel-nav_i {
      position: absolute;
      top: 50%;
      @include prefixes(transform, translateY(-50%));
      &.__prev {left:  -20px;}
      &.__next {right: -20px;}
    }   
  }
}
  .carousel-nav_i {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    @extend .ico;
    @extend .ico.__10x20;
    &.__prev {@extend .ico.__10x20.__chevron-left;}
    &.__next {@extend .ico.__10x20.__chevron-right;}
    &:not(:last-child) {margin-right: 2rem;}
  }



//****************************************************************************************************
//
// .. ELEMENTS
//
//****************************************************************************************************
//
// .. Search
//
.search {
  position: relative;
  color: rgba(241, 241, 241, .5);
}
  .search_ico {
    position: absolute;
    top: 50%;
    left: 1rem;
    color: inherit;
    @include prefixes(transform, translateY(-50%));
  }
  .search_tx {
    display: block;
    padding: 0 1.6rem 0 3.8rem;
    width: 100%;
    height: 3.2rem;
    border-radius: .3rem;
    background-color: #494949;
    color: inherit;
    text-transform: uppercase;
    font-weight: 300;
    font-family: inherit;
    &::-webkit-input-placeholder {color: inherit;}
    &::-moz-placeholder          {color: inherit;}
    &:-moz-placeholder           {color: inherit;}
    &:-ms-input-placeholder      {color: inherit;}
  }


//****************************************************************************************************
//
// .. FOOTER
//
//****************************************************************************************************
//
// :(
//
.footer {
  color: #f1f1f1;
  @extend .tx.__s;
}
  
  //
  // .. Banners
  //
  .footer_banners {
    position: relative;
    top: 6rem;
  }
  
  //
  // .. Catalog navs
  //
  .footer_navs {
    padding: 11rem 0 5rem;
    background-color: #29282c;
    color: #fff;
    table {
      width: 100%;
      td {
        &:not(:last-child) {padding-right: 2rem;}
        ul {
          li {
            line-height: 2.4rem;
            a {
              color: inherit;
              opacity: .8;
              @include prefixes(transition, all .33s);
              &:hover {opacity: 1;}
            }
          }
        }
      }
    }
  }
    .footer_navs_t {
      margin-bottom: 1.5rem;
      a {
        color: #fff;
      }
    }
  
  //
  // .. Summary information
  //
  .footer_summary {
    padding: 3rem 0;
    background-color: #212122;
    line-height: 1.2rem;
    table {
      width: 100%;
      td:not(:last-child) {padding-right: 2rem;}
    }
    p:first-child {margin-bottom: 1.2rem;}
    a {
      color: inherit;
      &:hover {color: inherit;}
    }
  }
    .footer_summary_phone {
      font-size: 2.4rem;
      margin-bottom: 1.5rem !important;
    }